Host *
{% if ansible_facts['os_family'] == "Darwin" %}
    # macOS specific settings.
    UseKeychain yes
    AddKeysToAgent yes
{% endif %}

Host gate
    Hostname gate.ilvokhin.com
    User d
    ForwardAgent yes

Host sun
    Hostname sun.ilvokhin.com
    User d

Host mail
    Hostname mail.ilvokhin.com
    User d

# Moscow machines behind NAT.
Host water
    ProxyJump gate
    Hostname 10.9.8.2
    User d
    ForwardAgent yes

Host flame
    ProxyJump gate
    Hostname 10.9.9.2
    User d
    ForwardAgent yes
