Host *
{% if ansible_facts['os_family'] == "Darwin" %}
    # macOS specific settings.
    UseKeychain yes
    AddKeysToAgent yes
{% endif %}

Host shell gate sun mail
    Hostname %h.ilvokhin.com
    User d
    ForwardAgent yes

# Moscow machines behind NAT.
Host flame
{% if inventory_hostname_short != "gate" %}
    ProxyJump gate
{% endif %}
    Hostname 10.0.0.2
    ForwardAgent yes

Host water
{% if inventory_hostname_short != "gate" %}
    ProxyJump gate
{% endif %}
    Hostname 10.0.0.3
    ForwardAgent yes
