[Unit]
Description=Run flatbot once
After=network.target

[Service]
Type=oneshot
EnvironmentFile=/etc/flatbot/token
EnvironmentFile=/etc/flatbot/config
EnvironmentFile=/etc/flatbot/urls
ExecStart=/usr/bin/flatbot -state ${FLATBOT_STATE} -once ${GREENWICH} ${CLERKENWELL}

[Install]
WantedBy=default.target
