[Unit]
Description=Run flatbot once
After=network.target

[Service]
Type=oneshot
EnvironmentFile=/etc/flatbot/token
EnvironmentFile=/etc/flatbot/config
ExecStart=/usr/local/bin/run-flatbot ${FLATBOT_STATE} ${FLATBOT_URLS}

[Install]
WantedBy=default.target
