[NetDev]
Name=wg0
Kind=wireguard
Description="Wireguard Overlay Network"

[WireGuard]
ListenPort=51820
PrivateKey={{ wireguard_private_key }}

# flame
[WireGuardPeer]
PublicKey=YUuBBTKHXsD6tTzcAVWXakZffWKlGS5fAdx7zWSXtlI=
AllowedIPs=10.0.0.2/32

# water
[WireGuardPeer]
PublicKey=X0Gw37N+AUkZjiyZ9buZ8c2ZzFr+niX3FZjxlyqQq0Q=
AllowedIPs=10.0.0.3/32
