# Source system-wide settings of there are any.
if [ -f /etc/bashrc ]; then
    . /etc/bashrc
fi

{% if ansible_facts['os_family'] == "Darwin" %}
# Specific settings for macOS.
if [[ "$OSTYPE" == "darwin"* ]]; then

# Set `LC_CTYPE` compatible with Linux systems. macOS sets `LC_CTYPE` to
# `UTF-8`, when Terminal has 'Set locale environment variables on startup'
# checkbox ticked in settings. `UTF-8` doesn't seem like a valid value, so
# override it to more sensible one.
export LC_CTYPE=en_US.UTF-8

# Silence bash deprecation warning.
export BASH_SILENCE_DEPRECATION_WARNING=1

# Enable colors for `ls` output.
export CLICOLOR=1

# Get GitHub token from keychain to avoid homebrew rate limiting on GitHub
# side.
export HOMEBREW_GITHUB_API_TOKEN=`security \
    find-generic-password -s "Homebrew GitHub API Token" -w`

fi
{% endif %}
