- name: Install tor
  ansible.builtin.package:
    name:
      - tor
    state: present

- name: Create /etc/torrc.d for drop-in tor configs
  ansible.builtin.file:
    path: /etc/torrc.d
    state: directory
    owner: root
    group: root
    mode: u+rw,g+r,o+r

- name: Allow usage of drop-in configs from /etc/torrc.d
  ansible.builtin.lineinfile:
    dest: /etc/tor/torrc
    state: present
    regexp: '^(#)?%include /etc/torrc.d/\*.conf'
    line: '%include /etc/torrc.d/*.conf'
    owner: root
    group: root
    mode: u+rw,g+r,o+r
  notify:
    - Reload tor

- name: Configure tor middlebox
  ansible.builtin.copy:
    src: files/middlebox.conf
    dest: /etc/torrc.d/middlebox.conf
    owner: root
    group: root
    mode: u+rw,g+r,o+r
  notify:
    - Reload tor

- name: Configure tor systemd service
  ansible.builtin.copy:
    src: files/tor.service
    dest: /usr/lib/systemd/system/tor.service
    owner: root
    group: root
    mode: u+rw,g+r,o+r

- name: Enable tor systemd service
  ansible.builtin.systemd_service:
    name: tor
    enabled: true
    state: started
    daemon_reload: true
