[Interface]
PrivateKey = {{ wireguard_private_key }}
Address = 10.0.1.1/24
ListenPort = 51821

PostUp = iptables -A FORWARD -i %i -j ACCEPT
PostUp = iptables -A FORWARD -o %i -j ACCEPT
PostUp = iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE

PostDown = iptables -D FORWARD -i %i -j ACCEPT
PostDown = iptables -D FORWARD -o %i -j ACCEPT
PostDown = iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE

# silver
[Peer]
PublicKey = HhBhDQmGzltIGQOn+clbRIkQt7ocPAuqsUS+ytinIwU=
AllowedIPs = 10.0.1.2/32

# evgeny
[Peer]
PublicKey = HF37v8yFI4bsbEfyCA7zIzUcoOMqRBFfU8GageE8LQQ=
AllowedIPs = 10.0.1.3/32

# irine
[Peer]
PublicKey = d/sd0Z3ynpZxDbihzaXEpepLNSNfWFuKNSurAC1Y9V0=
AllowedIPs = 10.0.1.4/32

# night
[Peer]
PublicKey = kEvIEmUvjv12uWdwKpU89Y8yiWsVKLmoZOeKVVqDEhk=
AllowedIPs = 10.0.1.5/32

# natalia
[Peer]
PublicKey = YpVI+MRoivY3HvqtJU1tZth61jjKl1Vg+7WSs7+vmRc=
AllowedIPs = 10.0.1.6/32

# vitaly
[Peer]
PublicKey = 6DMNcDWXZw6VxEjbxWnSeDPz1FEju1lmPrMYweSDygE=
AllowedIPs = 10.0.1.7/32

# nastya
[Peer]
PublicKey = jZYCWdpKTrQ8LvM0IhGGH35dERGXZEzcq9Sa3EJ9txk=
AllowedIPs = 10.0.1.8/32
